@{
    Layout = "~/Views/Shared/_LayoutReact.cshtml";
}

<div id="root"></div>

<script>
    ReactDOM.render(
        React.createElement(Components.About),
        document.getElementById('root')
    );
</script>