@{
    Layout = "~/Views/Shared/_LayoutReact.cshtml";
}

<div id="root"></div>

<script>
    const root = document.getElementById('root');
    ReactDOM.render(React.createElement(Components.Home), root)
</script>
